.app-developer {
  background: #068132;
  background: linear-gradient(
    90deg,
    rgba(6, 129, 50, 1) 0%,
    rgba(30, 214, 96, 1) 100%
  );
  padding: 3rem;
  @media (max-width: 767px) {
    padding: 3rem;
  }
  .content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3.125rem;
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 1.875rem;
    }
    h2 {
      position: relative;
      margin-left: 3.125rem;
      width: 40%;
      font-size: clamp(1.875rem, 5vw, 3.25rem);
      @media (max-width: 767px) {
        width: 100%;
        margin: 0rem;
        border-bottom: 1px solid #fff;
        padding-bottom: 1.875rem;
      }
      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 0.125rem;
        background-color: #fff;
        position: absolute;
        left: -3.125rem;
        opacity: 0.6;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
    p {
      width: 60%;
      color: #fff;
      font-size: clamp(1.25rem, 6vw, 1.375rem);
      line-height: 1.875rem;
      @media (max-width: 767px) {
        width: 100%;
        margin: 0rem;
      }
    }
  }
}

.iphone-android-dev {
  .content {
    display: flex;
    align-items: center;
    gap: 3.125rem;
    @media (max-width: 1199px) {
      flex-direction: column-reverse;
    }
    .text {
      width: 50%;
      @media (max-width: 1199px) {
        width: 100%;
      }
    }

    .image {
      width: 50%;
      height: 100%;
    }
  }
}

.app-dev-range {
  position: relative;
  .overlay-image {
    position: absolute;
    top: -25rem;
    right: 0rem;
    width: 100%;
  }
  .content {
    display: flex;
    align-items: end;
    @media (max-width: 1199px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 3.125rem;
    }
    .text {
      width: 70%;
      @media (max-width: 1199px) {
        width: 100%;
      }
      p {
        font-size: clamp(1.25rem, 6vw, 2.1875rem);
      }
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5625rem;
        @media (max-width: 767px) {
          grid-template-columns: repeat(1, 1fr);
          gap: 1rem;
        }
        li {
          font-size: 1.75rem;
          display: flex;
          gap: 1.5625rem;
          align-items: center;
          font-weight: 200;
          &::before {
            content: "\f14a";
            font-family: "Font Awesome 6 Free";
            font-size: 1.75rem;
            font-weight: 500;
          }
          @media(max-width: 767px){
            font-size: 1rem;
          }
        }
      }
    }
    .image {
      width: 30%;
      height: 100%;
      @media (max-width: 1199px) {
        width: 50%;
      }
      img {
        height: 100%;
      }
    }
  }
}

.developments {
  .content {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .image {
      width: 40%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .text {
      width: 60%;
      padding: 4.375rem;
      @media (max-width: 767px) {
        width: 100%;
        padding: 1rem 0rem 0rem 0rem !important;
      }
      @media (max-width: 1199px) {
        padding: 1.875rem;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }
  }
}

section.app-dev-contact {
  .content {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    box-shadow: 0rem 0.0625rem 0.5rem -0.3125rem #000;
    border-radius: 1.25rem;
    gap: 3.125rem;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .app-dev-info {
      width: fit-content;
      background: url(../images/contactsbanner.png) center / cover no-repeat;
      padding: 3.125rem;
      border-radius: 1.25rem;
      position: relative;
      z-index: 1;
      @media (max-width: 767px) {
        width: 100%;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #0000007a;
        position: absolute;
        top: 0rem;
        left: 0rem;
        z-index: -1;
        border-radius: 1.25rem;
      }
      h2 {
        font-size: 2.5rem;
        color: #fff !important;
      }
      p {
        color: #fff;
      }

      a {
        color: #fff;
        z-index: 999;
      }

      .number {
        a {
          margin-bottom: 1.25rem;
          display: flex;
          gap: 0.9375rem;
          &::before {
            content: "\f2a0";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            display: block;
          }
        }
      }

      .email {
        display: flex;
        gap: 0.9375rem;
        &::before {
          content: "\f0e0";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          display: block;
          color: #fff;
        }
      }
    }
    .app-dev-form {
      width: 60%;
      @media (max-width: 767px) {
        width: 100%;
      }

      p.submit-btn {
        float: right;
      }

      .input-con {
        display: flex;
        gap: 3.125rem;
        margin-bottom: 1.875rem;

        @media(max-width: 767px){
          flex-direction: column;
          gap: 1rem;
        }
        &:last-child {
          margin-bottom: 0rem;
        }
        p {
          margin: 0rem;
          width: 100%;
        }
      }
      p.message-area {
        margin: 0rem;
      }
      .cta {
        padding: 1.25rem 5rem !important;
        background-color: #1ed660;
        border-radius: 3.125rem;
        color: #fff !important;
        transition: all ease 0.5s;
        display: inline-flex !important;
        width: fit-content;
        border: none;
      }
      label {
        color: #8d8d8d;
        font-size: 0.75rem;
      }
      input {
        width: 100%;
        padding: 1.25rem;
        border: none;
        border-bottom: 1px solid #8d8d8d;
        border-radius: 0rem;
        &::placeholder {
          font-size: 0.875rem;
        }

        &:focus {
          outline: none;
        }
      }
      textarea {
        width: 100%;
        padding: 1.25rem;
        border: none;
        border-bottom: 1px solid #8d8d8d;
        border-radius: 0rem;
        height: 9.375rem;
        padding-bottom: 3.125rem;
        &::placeholder {
          font-size: 0.875rem;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
