.cms-can-do {
    .content {
      .title {
        margin-bottom: 3.125rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 4.375rem;
        @media(max-width: 1199px){
          width: unset;
        }
        h2 {
          text-align: center;
          margin-bottom: 1.875rem;
        }
        p {
          text-align: center !important;
          margin: 0rem;
        }
      }
      .card-con {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.875rem;
  
        @media (max-width: 1199px) {
          grid-template-columns: repeat(2, 1fr);
        }
  
        @media (max-width: 767px) {
          grid-template-columns: repeat(1, 1fr);
        }
        .card {
          border: 1px solid #d6d6d6;
          padding: 1.875rem 2.5rem;
          border-radius: 1.25rem;
          h3 
          {
            font-size: 1.875rem;
            margin-bottom: 1.25rem;
          }
          p {
            margin: 0rem;
          }
        }
      }
    }
  }
  