header#masthead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;

  .site-branding {
    img {
      width: 500px;
    }
  }
}

div#main-menu-container {
  ul#menu-gowebscape {
    justify-content: end;

    @media (max-width: 1199px) {
      flex-direction: column;
    }

    li {
      a {
        padding: 20px;
        color: $header_link;
        white-space: nowrap;
        @media (max-width: 1199px) {
          display: flex;
          justify-content: space-between;
        }
      }

      &.cta {
        a {
          font-size: 16px;
          font-weight: normal;
          padding: 20px 40px !important;
        }
      }

      &:hover {
        a {
          color: #1ed660;
        }
      }

      .sub-menu {
        background-color: #fff;
        flex-direction: column;

        @media (max-width: 1199px) {
          position: unset;
          width: 100%;
          display: none !important;
          &.show-submenu {
            display: block !important;
          }
        }

        li {
          a {
            color: #000;
            width: 100%;

            &:hover {
              color: #1ed660;
            }
          }
        }
      }
    }

  }
}

div#main-menu-container {
  ul {
    li {
      position: relative;

      &.has-submenu {
        > a {
          position: relative;
          padding-right: 20px;

          &::after {
            content: "\f078";
            font-family: "Font Awesome 6 Free";
            display: inline-block;
            font-weight: 900;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.phone-number {
  display: flex;
  align-items: center;

  a {
    padding-left: 10px !important;
  }

  &::before {
    content: "\f095";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: inline-block;
    color: #1ed660;
    font-size: 20px;
  }
}
