section.banner {
  background: url("../images/homepage/banner-bg.jpg") center/cover no-repeat;
  display: flex;
  place-content: center;
  place-items: center;
  .content {
    display: flex;
    gap: 3rem;

    .image {
      display: flex;
      flex-direction: column;
      justify-content: end;
      @media(max-width: 1199px){
        height: 100%;
      }
      img {
        height: 25rem;
        border-radius: 1.25rem;
        margin-bottom: 1.25rem;
        @media(max-width: 1199px){
          height: unset;
        }
      }

      p {
        font-weight: 600;
        margin: 0px !important;
        text-align: center !important;
      }
    }

    .banner-slider {
      width: 40%;
      display: flex;
      &::before {
        content: "";
        height: 12.5rem;
        width: 100%;
        position: absolute;
        background: #1ed660;
        background: linear-gradient(90deg, rgb(18 221 90) 0%, #16c454 100%);
        bottom: -5px;
        border-radius: 50%;
        transform: rotateX(60deg);
      }
    }
  }

  .content {
    .text {
      width: 60%;

      h1 {
        font-weight: 500;
      }

      p {
        color: #fff;
        font-weight: 400;
        margin-bottom: 3.125rem;
        &:first-child {
          font-weight: 100;
        }
      }
    }

    .banner-btn {
      display: flex;
      gap: 1.8rem;

      a {
        background-color: #000;
        padding: 1.25rem 3.125rem;
        border-radius: 3.125rem;
        color: #fff;
        box-shadow: 0px 0px 1px;
        border: none;
        font-weight: 500;

        &:nth-child(1) {
          color: #1ed660;
        }

        &:nth-child(2) {
          background: #fff;
          background: linear-gradient(
            90deg,
            rgb(255, 255, 255) 40%,
            rgb(44, 219, 8) 150%
          );
          color: #000;
        }
      }
    }
    @media (max-width: 767px) {
      .banner-btn {
        flex-direction: column;
        gap: .9rem;
        text-align: center;
      }
    }
  }
}

.overview {

  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    background-color: #fff;
    border-radius: .6rem;
    margin-top: -50px;
    padding: 1.8rem 5rem;
    box-shadow: 0px 1px 8px -5px #000;

    a {
      display: flex;
      align-items: center;
      gap: 15px;

      span {
        opacity: 0.5;
        font-size: 18px;
        color: #000;
        font-weight: 400;
      }

      img {
        width: 150px;
        height: 120px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #000;
      }

      p {
        color: #000;
        font-weight: 700;
        margin: 0px !important;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.our-services {
  @media(max-width: 1199px){
   
  }
  .content {
    .title {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      margin-bottom: 70px;

      h2 {
        text-align: center;
      }
      p {
        text-align: center !important;
        color: #a3a3a3;
      }
    }
  }
  .slider {
    li {
      margin-bottom: 0px;
      width: 500px;
      margin-right: 50px;

      &:nth-child(even) {
        margin-bottom: 50px;
        @media(max-width: 1199px){
          margin-bottom: 0px;
        }
      }

      &:nth-child(odd) {
        margin-top: 50px;
        @media(max-width: 1199px){
          margin-top: 0px;
        }
      }
    }

    .uk-panel {
      position: relative;
      border-radius: 10px;

      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        border-radius: 10px;
      }

      h3 {
        position: absolute;
        background: #fff;
        z-index: 1;
        bottom: 0px;
        padding: 20px 30px;
        color: #000;
        border-radius: 10px 10px 0px 0px;
        margin: 0px;
        width: 300px;
        text-align: left !important;
        font-size: 25px;
      }
    }

    
  }
}

.we-adapt-our-values {
  .we-adapt {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;

    .text {
      width: 50%;
      .title {
        h2 {
          font-size: 3.7rem !important;
        }
        @media (max-width: 767px) {
          h2 {
            font-size: 2rem !important;
          }
        }
        p {
          color: #000;
          margin-bottom: 70px !important;
        }
      }

      .range-container {
        .range {
          .text {
            display: flex;
            justify-content: space-between;
            width: 100%;

            p {
              color: #000;
              margin-bottom: 10px !important;
            }
          }
          .uk-progress {
            height: 30px;
          }
          &:nth-child(1) {
            .uk-progress::-webkit-progress-value {
              background-color: rgb(249, 74, 74) !important;
            }
          }
          &:nth-child(2) {
            .uk-progress::-webkit-progress-value {
              background-color: rgb(89, 177, 255) !important;
            }
          }
          &:nth-child(3) {
            .uk-progress::-webkit-progress-value {
              background-color: rgb(252, 190, 55) !important;
            }
          }
          &:nth-child(4) {
            .uk-progress::-webkit-progress-value {
              background-color: rgb(251, 111, 249) !important;
            }
          }
        }
      }
    }

    .image {
      width: 50%;
      img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .our-values {
    display: flex;
    justify-content: end;
    gap: 50px;

    .title {
      width: 400px;
      @media(max-width: 767px){
        width: unset;
      }
    }



    div#values-slider {
      box-shadow: 0px 1px 8px -5px #000;
      padding: 30px 0px;
      padding-left: 80px;
      width: 70%;
      border-radius: 20px;
      @media(max-width: 1199px){
        padding-left: 30px;
      }

      .values-slider {
        div {
          width: fit-content;
          margin-right: 1.5rem;

          @media(max-width: 767px){
            width: 100%;
            margin-right: 2rem;
          }
          img {
            height: 350px;
            width: 250px;
            border-radius: 20px;
          }

          @media (max-width: 1199px) {
            img {
              width: 100%;
              object-fit: cover;
              object-position: top;
            }
          }
        }
      }
    }

    @media (max-width: 1199px) {
      div#values-slider {
        width: unset;
        padding: 2rem;
      }
    }

    .values-btn {
      display: flex;
      a {
        border: 1px solid #a4a4a4;
        color: #1ed660;
        border-radius: 10px;
        padding: 15px;
        svg {
          height: 50px;
          width: 50px;
          font-weight: 700;
        }
      }
    }

    .values-slider {
      width: 1400px;
    }

    @media (max-width: 767px) {
      .values-slider {
        width: unset;
      }
    }

    .uk-position-center-vertical,
    [class*="uk-position-center-left"],
    [class*="uk-position-center-right"] {
      top: unset !important;
      transform: unset !important;
      --uk-position-translate-y: unset !important;
      position: unset !important;
      max-width: unset !important;
    }
  }
}

.our-works {
  display: flex;
  flex-direction: column;
  place-items: end;

  .title {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 70px;

    h2 {
      text-align: center;
    }

    p {
      text-align: center !important;
      color: #a3a3a3;
    }
  }

  .our-works-sliders-container {
    width: 110rem;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .our-works-slider {
      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }

      a {
        box-shadow: 0px 1px 8px -5px #a3a3a3;
        border: 1px solid #e8e8e8;
        border-radius: 20px;
        margin-right: 50px;

        &:nth-child(odd) {
          margin-bottom: 20px;
        }

        &:nth-child(even) {
          margin-top: 20px;
        }
      }

      li:nth-child(even) {
        margin-bottom: 50px;
      }
    }
  }

  @media (max-width: 1199px) {
    .our-works-sliders-container {
      width: 100%;
      padding: 0px 20px;
    }
  }
}

.our-tech-stack {
  .content {
    display: flex;
    gap: 50px;
    align-items: center;

    .text {
      h2 {
        margin-bottom: 50px;
      }
      width: 50%;
      p {
        color: #a3a3a3;
      }
    }

    .image {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 50px;
      @media (max-width: 1199px) {
        height: unset;
      }
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.ready-to-achieve {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
  width: 100%;
  background-color: #f2f2f28a;
  box-shadow: 0px 10px 20px -20px #000;
  .text {
    width: 40%;

    @media(max-width: 1199px) {
        width: 100%;
        margin-bottom: 30px;
    }
    h2 {
      font-size: clamp(2rem, 5vw, 3.125rem) !important;
      margin-bottom: 50px !important;
    }

    @media (max-width: 767px) {
      h2 {
        font-size: clamp(1.8rem, 5vw, 2.5rem)!important;
      }
    }
  }
  .image {
    width: 50%;
    img {
      width: 100%;
      border-radius: 20px 0px 0px 20px;
      @media(max-width: 1199px){
        border-radius: 20px;
      }
      
    }
  }
}

.featured {
  .title {
    margin-bottom: 70px;
    text-align: center;
  }
  .featured-on-slider {
    .image{
      width: 400px;
      height: 100%;
      img {
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
    }
    
  }
}

.help-boost {
  .content {
    display: flex;
    gap: 50px;
    align-items: center;
    .image {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 20px;
      @media(max-width: 1199px){
        height: unset;
      }
      img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
      }
    }
    .text {
      width: 50%;
      p {
        color: #a3a3a3;
      }
      .moving-num-con {
        display: flex;
        gap: 30px;
        align-items: center;
        .moving-number {
          padding: 30px;
          .count-con {
            display: flex;
            p.counter {
              margin-bottom: 0px !important;
              font-size: 50px !important;
              font-weight: 700;
              color: #000;
            }
            p {
              font-size: 50px;
              font-weight: 700;
              margin-bottom: 0px !important;
              color: #1ed660;
              margin: 0px;
            }
          }
          @media (max-width: 767px) {
            .count-con {
              justify-content: center;
            }
          }
          h5 {
            margin: 0px;
            font-size: 25px;
            color: #000;
            font-weight: 500;
          }
        }
      }
      @media (max-width: 767px) {
        .moving-num-con {
          flex-direction: column;
          gap: 15px;
        }
      }
    }
  }
}

.blogs {
  .content {
    .title {
      margin-bottom: 70px;
    }

    .card-con {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      align-items: center;

      @media(max-width: 1199px) {
          grid-template-columns: repeat(1, 1fr);
      }

      .card {
        width: 100%;
        height: 100%;
        box-shadow: 0px 1px 8px -5px #000;
        border-radius: 10px;
        .images {
          height: 300px;
          img {
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        @media (max-width: 767px) {
          .image {
            height: 300px;
            img {
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .text {
          h3 {
            font-size: 30px;
          }
          padding: 30px;
          p {
            letter-spacing: normal;
          }
          a {
            color: #000;
            font-size: 20px;

            i {
              color: #1ed660;
              margin-left: 20px;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      .card-con {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media (max-width: 1199px) {
  section.banner {
    height: unset;
    min-height: unset;
    .content {
      flex-direction: column-reverse;
      place-items: center;
      .text {
        width: unset;
      }

      .banner-slider {
        width: 100%;
        place-items: center;
      }
    }
  }

  .overview {
    padding: 2rem;
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 30px;
      margin-top: unset;
    }
    @media (max-width: 767px) {
      .content {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .our-works {
    .our-works-sliders-container {
      .our-works-slider {
        img {
          height: 500px;
          object-fit: cover;
        }
      }
    }
  }

  .we-adapt-our-values {
    .we-adapt {
      flex-direction: column-reverse;
      .image {
        width: unset;
      }

      .text {
        width: unset;
      }
    }
    .our-values {
      flex-direction: column;
      padding: 0px 20px;
    }
  }

  .our-tech-stack {
    .content {
      flex-direction: column-reverse;
      .text {
        width: unset;
      }
      .image {
        width: 100%;
        place-items: center;
      }
    }
  }

  .ready-to-achieve {
    flex-direction: column-reverse;
    padding: 0px 20px;
    .text {
      width: 100%;
    }
    .image {
      width: 100%;
    }
  }

  .help-boost {
    .content {
      flex-direction: column;
      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }

      .text {
        width: unset;
      }
    }
  }
}

@media (max-width: 767px) {
  .overview {
    padding: 2rem;
    .content {
      gap: 20px;
      padding: 30px;
      margin-top: unset;

      a {
        flex-direction: column;
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
        .text {
          width: 100%;
        }
      }
    }
  }

  .ready-to-achieve{
    padding: 0rem 2rem;
  }
}
