.lp-overview {
  padding: 3rem;
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 55%,
    rgba(216, 216, 216, 1) 100%
  );
  .content {
    display: flex;
    gap: 3.125rem; // 50px
    @media (max-width: 74.9375rem) { // 1199px
      flex-direction: column;
    }
    .text {
      h2 {
        font-size: clamp(1.36rem, 6vw, 3.125rem); 
        margin-bottom: 3.125rem; // 50px
        line-height: 5rem; // 80px

        @media(max-width: 767px){
          line-height: normal;
        }
      }
    }
    .image-text {
      background-color: #ffffff;
      height: fit-content;
      padding: 1.875rem; // 30px
      border: 0.0625rem solid #d6d6d6; // 1px
      border-radius: 1.25rem; // 20px
      box-shadow: 0rem 0.0625rem 0.5rem -0.3125rem #000; // 0px 1px 8px -5px
      img {
        border-bottom: 0.0625rem solid #d6d6d6; // 1px
        padding-bottom: 1.875rem; // 30px
        margin-bottom: 1.875rem; // 30px
      }
      p {
        margin: 0rem;
      }
    }
  }
}

.lp-overview-desc {
  p {
    padding: 0rem 3.125rem; // 50px
    margin: 6.25rem 0rem; // 100px
  }
}
